@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter Tight', sans-serif;
}

body {
    background-image: url('./img/ciano-city.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    backdrop-filter: blur(4px);
}

.form-card {
    width: 300px;
    background-image: linear-gradient(163deg, #02f1db 0%, #121313 100%);
    border-radius: 25px;
    transition: all 0.8s;
}

.form-card-2 {
    border-radius: 0;
    transition: all 0.2s;
}

.form-card-2:hover {
    transform: scale(0.99);
    border-radius: 25px;
}

.form-card:hover {
    box-shadow: 0px 0px 30px 1px rgba(1, 17, 17, 0.738);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0.4em;
    background-color: rgba(23, 23, 23, 0.6);
    border-radius: 25px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.title-login {
    text-align: center;
    margin: 2em;
    color: rgb(2, 229, 223);
    font-size: 1.2em;
}

.field {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    border-radius: 25px;
    padding: 0.6em;
    border: none;
    outline: none;
    color: rgb(2, 229, 223);
    background-color: #171717;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

.input-icon {
    width: 1.3em;
    height: 1.3em;
    margin-left: 10px;
}

.fa-user {
    color: rgb(2, 229, 223);
}

.fa-lock {
    color:rgb(177, 7, 7)
}

.input-field {
    background: none;
    border:none;
    outline: none;
    width:  100%;
    color: rgb(253, 253, 253);
}

.input-field:hover {
    color: rgb(2, 229, 223);
}

.form .box-btn {
    display: flex;
    justify-content: left;
    flex-direction: row;
    margin: 25px 0;
    padding: 0 5px;
}

.btn-login {
    width: 50%;
    background-image: linear-gradient(150deg, #024075 0%, #00d2d0 100%);
    color: #ffffff;
    text-decoration: none;
    padding: 0.4em 1em;
    border-radius: 8px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 1s;
    font-size: 0.9em;
    text-align: center;
    float: left;
    margin-right: 5%;
}

.btn-login:nth-of-type(2n+0) {
    margin-right: 0;
}

.btn-login:hover {
    background-image: linear-gradient(150deg, #00b8bf 0%, #002646 100%);
    color: rgb(255, 255, 255);
}

.footer{
    color: #fff;
    text-shadow: 1px 1px 1px #00ffff;
    font-size: 0.8em;
}

@media (max-width: 768px) {
    .form-card {
        width: 90%;
    }

    .form .box-btn {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .btn-login {
        width: 100%;
        margin-right: 0;
    }
}